<div class="container">
    <div class="row justify-content-center">
    <img id="logo" src="/img/logo_colorindo.png" alt="">
    <h2 class="title">Catálogo de materiais</h2>
    {{!-- SPRAYS --}}
    <h3 class='title'>Sprays iquine e paris68</h3>
    <p class="title"> Quantidade máxima de 40 unidades</p>
    {{#data1}}
    <div class="col-2 item m-2 ">
        <h6>{{tipo}}</h6> 
        <div class="s{{ID_mat}}"></div>
        <label for="">{{cor}}</label> 
    </div>
    {{/data1}}
    {{!-- PIGMENTOS --}}
    <h3 class="title">Pigmentos</h3>
    {{#data2}}
    <div class="col-2 item m-2 ">
        <div class="p{{ID_mat}}"></div>
        <label for="">{{cor}}</label> 
    </div>
    {{/data2}}
    <h3 class="title">Tintas Iquine e Coral</h3>
    <p class="title">galão - 3,6L e latão - 18L</p>
    {{#data3}}
    <div class="col-2 item m-2 ">
        <h6>{{und}}</h6> 
        <div class="t{{ID_mat}}"></div>
        <label for="">{{cor}}</label> 
    </div>
    {{/data3}}
    {{!-- OUTROS MATERIAIS --}}
    <div class="row">
        <h3 class="title">Outros materiais</h3>
        {{#data4}}
        <div class="col-12 item m-2">
            <h6 class="title">{{nome}} {{tipo}}</h6> 
        </div>
        {{/data4}}
    </div>
    </div>

</div>
