<form name='form4' action="/controllerUpdate" method="post">
    <input type="hidden" name="ID_mat" id="ID_mat" placeholder="id" value="{{ID_mat}}"><br>
    <input type="text" name="nome" id="nome" placeholder="nome" value="{{nome}}"><br>
    <input type="text" name="tipo" id="tipo" placeholder="tipo" value="{{tipo}}"><br>
    <input type="text" name="cor" id="cor" placeholder="cor" value="{{cor}}"><br>
    <input type="text" name="und" id="und" placeholder="und" value="{{und}}"><br>
    <input type="number" name="quant" id="quant" placeholder="quant" value="{{quant}}"><br>
    <input type="submit" name="btn" id="btn" value="Atualizar"><br>
</form>